/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 
html{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--background);
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
}

.calculation-bar {
  position: fixed;
  display: flex;
  left: 10px;
  right: 10px;
  top: 45px;
  height: 50px;
  background-color: var(--calc-bar-colour);
  border-radius: 8px;
  color: var(--calc-text)
}

#calculation-bar-input {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: start;
  font-size: 30px;
  overflow-x: auto;
  border-radius: 8px;
}

#values {
  border-radius: 8px;
}

.button-div {
  padding-top: 15px;
  padding-right: 15px;
}

.button {
  font-size: 24px;
  padding: 10px 0px;
  width: 80px;
  border: none;
  background: var(--button-colour);
  transition-duration: 0.4s;
  border-radius: 8px;
  color: var(--button-text);
}

.button:hover {
  background: var(--button-hover);
}

.all-buttons {
  position: absolute;
  top: 100px;
  width: 100vw;
}

.number-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 10px;
  width: 300px;
}
.num-button{
}

.operator-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 10px;
  top: 252px;
  width: 300px;
}

.misc-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.button-0 {
  width: 270px;
}



#menu-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  left: 0;
  top: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  -webkit-app-region: drag;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menubar-btn {
  -webkit-app-region: no-drag;
  background-color: transparent;
  outline: none;
  border: none;
  transition-duration: 0.3s;
  border-radius: 4px;
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}
